$bg : rgba(19, 20, 30, 0.8);
$bg1 : rgba(19, 20, 30, 0.75);
$bg2 : rgba(19, 20, 30, 0.5);
$fg : #bbc2cf;

// Convert all fgDark to rgba
$fgDark1: rgba(38, 39, 56, 0.5);
$fgDark2: rgba(57, 58, 82, 0.5);
$fgDark3: rgba(75, 77, 107, 0.5);
$yellow : #b89933;
$cyan : #20a3c7;
$darkblue : #081633;
$green : #45deaf;
$orange : #FF8800;
$violet : #a9a1e1;
$magenta : #c678dd;
$blue : #2b96fb;
$red : #ec5f67;

$borderRadius1: 8px;
$borderRadius2: 6px;
$borderRadius3: 4px;

* {
	all: unset;
	font-family: "sans-serif";
	color: $fg;
}

@mixin section {
	border-radius: 8px;
	padding: 12px;
}

@mixin button {
	&:hover {
		background: $fgDark2;
	}
}

@mixin panelChild {
	background: rgba(69, 69, 89, 0.5);
	border-radius: $borderRadius2;
	border: 1px solid rgba(187, 194, 207, 0.2);
}

.bar {
	background: $bg;
}

.panel-container {
	padding: 8px;
}

.panel {
	background: rgba(35, 35, 46, 0.66);
	padding: 16px;
	border-radius: $borderRadius1;
	border: 1px solid rgba(187, 194, 207, 0.2);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



/* NOTE: ---------------------------------------------> Left Section */
.app_grid_btn {
	padding: 0 8px 0 8px;
	border-radius: $borderRadius2;
	font-size: 18px;

	@include button;
}

.time_indicator {
	padding: 0 8px 0 8px;
	border-radius: $borderRadius2;

	@include button;
}

.workspace_indicator {
	@include section;

	& .workspace {
		background: $fgDark2;
		border-radius: 12px;
		min-width: 8px;
		min-height: 8px;
		transition: min-height 100ms cubic-bezier(1, 0, 0, 1);

		&.active {
			background: $fg;
			min-height: 8px;
		}

		&:hover {
			background: $fgDark2;
		}
	}
}


/* NOTE: ---------------------------------------------> Right Section */

.calendar {
	color: $fg;
	border-radius: $borderRadius1;

	&.hightlight {
		color: $yellow;
	}

	&.selected {
		color: $cyan;
	}

	& button {
		color: $orange;
		background: $blue;

		&:hover {
			background: $bg2;
		}
	}
}

.control_button {
	padding: 0 8px 0 8px;
	border-radius: $borderRadius2;
	font-size: 18px;

	@include button;
}

.control-panel {
	padding: 12px;
	border-radius: $borderRadius1;
	min-width: 300px;
}

.slider-container {
	padding: 16px 8px;
	@include panelChild;
}

.slider {
	& trough {
		background-color: $fgDark3;
		border-radius: $borderRadius1;
	}

	& highlight {
		min-height: 16px;
		background-color: $fg;
		border-radius: $borderRadius1;
	}
}

.face {
	border-radius: 50%;
}

.user_box {
	@include panelChild;
	padding: 8px;
}

.music_player {
	@include panelChild;
	padding: 8px;

}

.progress {
	border-radius: $borderRadius2;
	padding-bottom: 4px;

	& trough {
		border-radius: 8px;
		background: $fgDark3;

		& progress {
			background: $fg;
			border-radius: 8px;
		}
	}
}

.connection_box {
	& .connection_button {
		@include panelChild;
		padding: 0 8px 0 8px;
		border-radius: $borderRadius2;
		font-size: 18px;

		@include button;
	}
}
