* {
  all: unset;
  font-family: "sans-serif";
  color: #bbc2cf;
}

.bar {
  background: rgba(19, 20, 30, 0.8);
}

.panel {
  background: rgba(19, 20, 30, 0.75);
}

.calendar {
  color: #bbc2cf;
  border-radius: 8px;
}
.calendar.hightlight {
  color: #b89933;
}
.calendar.selected {
  color: #20a3c7;
}
.calendar button {
  color: #FF8800;
  background: #2b96fb;
}
.calendar button:hover {
  background: rgba(19, 20, 30, 0.5);
}

/* NOTE: ---------------------------------------------> Left Section */
.app_grid_btn {
  padding: 0 8px 0 8px;
  border-radius: 4px;
  font-size: 18px;
}
.app_grid_btn:hover {
  background: rgba(57, 58, 82, 0.5);
}

.time_indicator {
  padding: 0 8px 0 8px;
  border-radius: 4px;
}
.time_indicator:hover {
  background: rgba(57, 58, 82, 0.5);
}

.workspace_indicator {
  border-radius: 8px;
  padding: 12px;
}
.workspace_indicator .workspace {
  background: rgba(57, 58, 82, 0.5);
  border-radius: 12px;
  min-width: 8px;
  min-height: 8px;
  transition: min-height 100ms cubic-bezier(1, 0, 0, 1);
}
.workspace_indicator .workspace.active {
  background: #bbc2cf;
  min-height: 8px;
}
.workspace_indicator .workspace:hover {
  background: rgba(57, 58, 82, 0.5);
}

/* NOTE: ---------------------------------------------> Left Section */
.control_button {
  padding: 0 8px 0 8px;
  border-radius: 4px;
  font-size: 18px;
}
.control_button:hover {
  background: rgba(57, 58, 82, 0.5);
}
